{% extends "views/list.html" %}
{%- from "_shared/posts/_item.html" import post_item with context -%}

{% block resource_label %}Intakes{% endblock %}

{% block actions %}
<li><a href="{{ entity_form_url('intake') }}" role="button">Create intake</a></li>
{% endblock %}

{% block content %}
{% if intakes %}
<section id="intakes-list">
  {%- for post in intakes %}
  {{ post_item(post, entity_name) }}
  {%- endfor %}
</section>
{% else %}
<p>
  {% if active_filter_count %}No intakes match these filters.{% else %}No intakes found.{% endif %}
</p>
{% endif %}
{% endblock %}
