<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}AI again{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/ext/json-enc.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      #primary-nav { list-style: none; padding: 0; display: flex; }
      #primary-nav li { margin-right: 1rem; }
    </style>
    {% block head %}{% endblock %} {% if is_development %}
    <!-- LiveReload script for development hot reloading -->
    <script>
      ;(function () {
        var script = document.createElement('script')
        script.src =
          'http://localhost:{{ livereload_port }}/livereload.js?snipver=1'
        script.async = true
        document.head.appendChild(script)
      })()
    </script>
    {% endif %}
  </head>
  <body>
    <nav aria-label="Primary">
      <ul id="primary-nav">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/providers">Providers</a></li>
        <li><a href="/users/me">Me</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
