{% extends "views/list.html" %}
{%- from "_shared/_clinician_card.html" import clinician_card -%}
{% block resource_label %}Favorites{% endblock %}
{% block content %}
  {% if clinicians %}
    <section id="favorites-list">
      <ul class="entity-list">
        {%- for clinician in clinicians %}{{ clinician_card(clinician) }}{%- endfor %}
        </ul>
      </section>
    {% else %}
      <p id="favorites-empty">
        No favorites yet. <a href="{{ entity_url('clinician') }}">Browse clinicians</a> to add some.
      </p>
    {% endif %}
  {% endblock %}
