{% extends "views/list.html" %}
{%- from "_shared/_clinician_card.html" import clinician_card -%}
{%- from "_shared/_item_list.html" import item_list -%}
{% block actions %}
  {% if is_authenticated %}
    <li>
      <a href="{{ entity_form_url('clinician') }}" role="button">{{ entity_create_label("clinician") }}</a>
    </li>
  {% endif %}
{% endblock %}
{% block content %}
  {{ item_list(clinicians, clinician_card, "clinicians-list",
    empty_msg="No clinicians found.",
    pager=pager) }}
{% endblock %}
