{% extends "views/list.html" %}
{%- from "posts/_shared/_row.html" import post_row with context -%}
{% block resource_label %}Openings{% endblock %}
{% block actions %}
  <li>
    <a href="{{ entity_form_url('opening') }}" role="button">{{ entity_create_label("opening") }}</a>
  </li>
{% endblock %}
{% block content %}
  {% if openings %}
    <table id="openings-list" class="post-rows">
      <tbody>
        {%- for post in openings %}{{ post_row(post, entity_name) }}{%- endfor %}
        </tbody>
      </table>
    {% else %}
      <p>
        {% if active_filter_count %}
          No openings match these filters.
        {% else %}
          No openings found.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
