{% extends "views/list.html" %}

{% block resource_label %}Programs{% endblock %}

{% block actions %}
<li><a href="{{ entity_form_url('program') }}" role="button">Create program</a></li>
{% endblock %}

{% block content %}
{% if programs %}
<div class="overflow-auto">
  <table id="programs-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>State</th>
        <th>Accepting referrals</th>
      </tr>
    </thead>
    <tbody>
      {%- for program in programs %}
      <tr>
        <td><a href="{{ entity_url('program', id=program.id) }}">{{ program.name }}</a></td>
        <td><a href="{{ entity_url('organization', id=program.org_id) }}">{{ program.organization.name }}</a></td>
        <td>{{ program.state_preference or "—" }}</td>
        <td>{{ "Yes" if program.accepting_referrals else "No" }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No programs found.</p>
{% endif %}
{% endblock %}
