{% extends "views/form_edit.html" %}
{% from "posts/_client_referral_form.html" import client_referral_form %}

{% set resource_url = entity_url('post') %}
{% set resource_detail_url = entity_url('post', id=post.id) %}

{% block resource_label %}Posts{% endblock %}
{% block current_label %}Post{% endblock %}

{% block content %}
{{ client_referral_form("patch", entity_url('post', id=post.id), "Save changes", post=post, schema=client_referral_create_schema, cancel_url=entity_url('post', id=post.id)) }}
{% endblock %}
