{% extends "views/form_edit.html" %}
{% from "posts/_opening_form.html" import opening_form %}

{% set resource_url = entity_url('post') %}
{% set resource_detail_url = entity_url('post', id=post.id) %}

{% block resource_label %}Posts{% endblock %}
{% block current_label %}Post{% endblock %}

{% block content %}
{{ opening_form("patch", entity_url('post', id=post.id), "Save changes", post=post, schema=opening_create_schema, current_user=current_user, cancel_url=entity_url('post', id=post.id)) }}
{% endblock %}
