{% extends "_shared/_form_page.html" %}
{% from "posts/_provider_availability_form.html" import provider_availability_form %}

{% block resource_label %}Posts{% endblock %}
{% block resource_url %}/posts{% endblock %}
{% block parent_label %}Post{% endblock %}
{% block parent_url %}/posts/{{ post.id }}{% endblock %}
{% block current_label %}Edit{% endblock %}

{% block content %}
{{ provider_availability_form("patch", "/posts/" ~ post.id, "Save changes", post=post, schema=provider_availability_create_schema, current_user=current_user) }}

<p><a href="/posts/{{ post.id }}" role="button" class="secondary outline">Cancel</a></p>
{% endblock %}
