{% extends "views/form_edit.html" %}
{% from "posts/_program_availability_form.html" import program_availability_form %}

{% set resource_url = entity_url('post') %}
{% set resource_detail_url = entity_url('post', id=post.id) %}

{% block resource_label %}Posts{% endblock %}
{% block current_label %}Post{% endblock %}

{% block content %}
{{ program_availability_form("patch", entity_url('post', id=post.id), "Save changes", post=post, schema=program_availability_create_schema, current_user=current_user) }}

<p><a href="{{ entity_url('post', id=post.id) }}" role="button" class="secondary outline">Cancel</a></p>
{% endblock %}
