{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
<h1>Posts</h1>

<nav aria-label="Create post">
  <ul>
  {%- for spec in post_kinds %}
    <li><a href="/posts/form?kind={{ spec.name }}" role="button" class="outline">New {{ spec.list_label }}</a></li>
  {%- endfor %}
  </ul>
</nav>

{% if posts %}
<ul id="post-list">
  {% for post in posts %}
  <li>
    {% if post.kind == "client_referral" %}
    <a href="/posts/{{ post.id }}">{{ post.client_referral_detail.description | truncate(80) }}</a>
    <small>[client referral]</small>
    {% elif post.kind == "provider_availability" %}
    <a href="/posts/{{ post.id }}">{{ post.provider_availability_detail.provider.practice_name }}</a>
    <small>[provider availability]</small>
    {% endif %}
    <small>by <a href="/users/{{ post.owner_id }}">{{ post.owner.username }}</a></small>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No posts found.</p>
{% endif %}
{% endblock %}
