{% extends "base.html" %}
{% block title %}Edit post: {{ post.note_detail.title }}{% endblock %}
{% block content %}
<h1>Edit post</h1>
<form hx-patch="/posts/{{ post.id }}" hx-ext="json-enc">
  <input type="hidden" name="kind" value="note" />
  <label for="title">Title:</label><br />
  <input type="text" id="title" name="title" value="{{ post.note_detail.title }}" required /><br />
  <label for="body">Body:</label><br />
  <textarea id="body" name="body" required>{{ post.note_detail.body }}</textarea><br /><br />
  <input type="submit" value="Save changes" />
</form>

<hr />
<a href="/posts/{{ post.id }}">Cancel</a>
{% endblock %}
