{% extends "views/form_edit.html" %}
{% from "posts/referrals/_form.html" import referral_form %}

{% set resource_url = entity_url('referral') %}
{% set resource_detail_url = entity_url('referral', id=referral.id) %}

{% block resource_label %}Referrals{% endblock %}
{% block current_label %}Referral{% endblock %}

{% block content %}
{{ referral_form("patch", entity_url('referral', id=referral.id), "Save changes", post=referral, schema=referral_create_schema, cancel_url=entity_url('referral', id=referral.id)) }}
{% endblock %}
