{% extends "base.html" %}
{%- from "_shared/form_fields.html" import field_for -%}
{% block title %}Create provider{% endblock %}
{% block content %}
<h1>Create provider</h1>
<p>Practice details only. Add licensures, education, and certifications after creating the provider.</p>

<form hx-post="/providers">
  <fieldset>
    <legend>Practice</legend>
    {{ field_for(schema, "practice_name", "Practice name") }}
    {{ field_for(schema, "location_city", "City") }}
    {{ field_for(schema, "location_state", "State") }}
    {{ field_for(schema, "location_zip", "ZIP") }}
  </fieldset>

  <fieldset>
    <legend>Session availability</legend>
    {{ field_for(schema, "in_person_sessions", "In-person sessions") }}
    {{ field_for(schema, "virtual_sessions", "Virtual sessions") }}
  </fieldset>

  <input type="submit" value="Create provider" />
</form>

<hr />
<a href="/providers">Back to providers</a>
{% endblock %}
