<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}AI again{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('list_my_conversations') }}">My Conversations</a>
        </li>
        <li>
          <a href="{{ url_for('list_my_invitations') }}">My Invitations</a>
        </li>
        <li>
          <a href="{{ url_for('list_conversations') }}">Public Conversations</a>
        </li>
        <li>
          <a href="{{ url_for('get_new_conversation_form') }}">Create New</a>
        </li>
      </ul>
    </nav>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
