{% extends "base.html" %}
{%- from "_shared/_toolbar.html" import page_toolbar -%}
{%- from "_shared/_breadcrumb.html" import breadcrumb -%}
{% block title %}Access{% endblock %}
{% block breadcrumb %}
  {{ breadcrumb([
    ("Profile", entity_url('user', id='me') ),
  ("Access", none),
  ]) }}
{% endblock %}
{% block toolbar %}
  {% call page_toolbar(heading="Access") %}
  {% endcall %}
{% endblock %}
{% block content %}
  <section class="entity-card">
    <header class="entity-header">
      <strong>Capabilities</strong>
    </header>
    <footer class="entity-footer">
      <a href="{{ capabilities_url }}" role="button" class="outline">View capabilities</a>
    </footer>
  </section>
{% endblock %}
