{% extends "views/list.html" %}
{%- from "_shared/posts/_item.html" import post_item with context -%}

{% block resource_label %}Referrals{% endblock %}

{% block actions %}
<li><a href="{{ entity_form_url('referral') }}" role="button">Create referral</a></li>
{% endblock %}

{% block content %}
{% if referrals %}
<section id="referrals-list">
  {%- for post in referrals %}
  {{ post_item(post, entity_name) }}
  {%- endfor %}
</section>
{% else %}
<p>
  {% if active_filter_count %}No referrals match these filters.{% else %}No referrals found.{% endif %}
</p>
{% endif %}
{% endblock %}
